version: '3.8'
services:
  app:
    build: ./
    container_name: task_manager_api_php
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html:cached
    depends_on:
      - db
  web:
    image: nginx:stable-alpine
    container_name: task_manager_api_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
  db:
    image: mysql:8.0
    container_name: task_manager_api_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_manager_api
      MYSQL_USER: symfony
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  adminer:
    image: adminer
    container_name: task_manager_api_adminer
    ports:
      - "8081:8080"
    depends_on:
      - db
volumes:
  db_data:
